.contact-container {
    background-color: black;
    display: flex;
}

.compact-contact-container {
    display: flex;
    width: 80%;
    margin: 80px auto 10px auto;
    flex-direction: column;
}

.contact-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-title {
    color: white;
    display: flex;
    font-family: 'Lexend', sans-serif;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    font-weight: 200;
    font-size: 30px;
}

.social {
    width: 40%;
    margin: 0 auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.social-item > a{
    text-decoration: none;
    color: #ffffff42;
    font-weight: 400;
    transition: ease-in 0.2s;
}

.number {
    color: white;
    text-align: center;
    margin-top: 20px;
}

.social-item:hover > a {
    color: white;
    transition: ease-in 0.2s;
}

.form {
    margin: 80px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.inpu-t, .text-area{
    margin: 10px auto;
    padding: 10px 30px;
    border-radius: 1px;
    border: 1px solid white;
    background-color: black;
    outline: none;
    color: white;
    width: 35%;
}

.input, .text-area {
    width: 30%;
    color: white;
    display: flex;
    margin: 10px auto;
    padding: 10px 30px;
    border-radius: 1px;
    border: 1px solid white;
    background-color: black;
    outline: none;
}

.input-btn {
    background-color: white;
    color: #151515;
    outline: none;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    transition: ease-in 0.2s;
}

.input-btn:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
    transition: ease-in 0.2s;
    cursor: pointer;
}

input[type=text], input[type=email], input[type=number] {
    color: white;
}

@media only screen and (max-width: 800px) {
    .social {
        display: flex;
        width: 80%;
        margin: 0 auto;
    }

    .input, .text-area {
        width: 70%;
    }

    .inpu-t, .text-area{
        width: 80%;
    }

    .social-item, .contact-title {
        text-align: center;
    }
}

@media only screen and (max-width: 768px) { 
    .inpu-t, .text-area{
        width: 80%;
    }
}
@media only screen and (max-width: 555px) { 
    .inpu-t, .text-area{
        width: 84%;
    }
}
@media only screen and (max-width: 425px) { 
    .inpu-t{
        width: 88%;
    }

    .text-area {
        width: 70%;
    }

    .social {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
    }

    .social-item {
        margin: 10px;
    }
}
@media only screen and (max-width: 320px) { 
    .inpu-t{
        width: 94%;
    }

    .text-area {
        width: 70%;
    }
}