.App {
    background-color: #000;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .top-half {
    /* height: 60vh; */
    width: 100%;
    position: relative;
  }
  
  .jumbotron {
    height: 100%;
    width: 100%;
  }
  
  .mid-half {
    height: auto;
    display: flex;
    margin: 0 auto;
  }
  
  .mid-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px 60px;
  }
  
  .left-message {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  
  .welcome {
    font-size: 40px;
    font-family: 'Lexend', sans-serif;
    color: #fff;
    font-weight: 600;
  }
  
  .message {
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: #000000b5;
    width: 100%;
    height: 100%;
  }

  .carousel-container {
    position: relative;
  }

  .next {
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    position: absolute;
    bottom: 50%;
    right: 20px;
  }
  

  .prev {
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    position: absolute;
    bottom: 50%;
    left: 20px;
   }
  
  .overlay-writeup-container {
    color: #fff;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    top: 40%;
    z-index: 1;
  }
  
  .wwd-h1 {
    color: #fff;
    font-family: 'Lexend';
  }

  .wwd-container {
    display: flex;
    color: #fff;
    font-family: 'Lexend';
  }

  .wwd-img {
    width: 50%;
  }

  .left-img {
    display: flex;
    width: 100%;
    margin: 0 auto;
  }

  .right-img {
    display: flex;
    width:  100%;
    margin: 0 auto;
  }

  .wwd-writeup {
    width: 50%;
    display: flex;
    align-items: center;
  }

  .wwd-sub {
    display: flex;
    margin: 0 auto;
  }

  h1 {
    text-align: center;
    text-decoration: underline;
    color: #fff;
  }

  h2 {
    display: flex;
    margin: auto;
    text-align: center;
  }

  li {
    line-height: 50px;
  }

  .our-processes {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 60px auto;
  }

  .sub-sub {
    background-color: gold;
    color: #000;
    padding: 10px;
    width: fit-content;
    cursor: pointer;
    transition: 0.4s;
    font-family: 'Lexend';
  }

  .sub-sub:hover {
    transition: 0.4s;
    color: #fff;
    background-color: rgb(208, 177, 2);
    text-decoration: underline;
  }

  .process-sub {
    color: #fff;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 50px;
  }

  .writeup-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }

  .calendly {

  }

  .overlay-title {
      font-size: 70px;
      font-weight: 600;
      font-family: 'Lexend', sans-serif;
  }
  
  .overlay-writeup {
    width: 600px;
    font-family: 'Lexend';
  }

  .yellow {
    text-align: center;
  }
  
  .overlay-button {
    margin-top: 20px;
    width: fit-content;
    color: #fff;
    background-color: transparent;
    border: 0.5px solid #fff;
    padding: 7px 15px;
    z-index: 999;
    transition: 0.4s;
  }
  
  .overlay-button:hover { 
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: 0.4s;
  }
  
  .mid-right {
    width: 50%;
    padding: 30px 60px;
  }
  
  .team {
    width: 90%;
    height: 100%;
  }
  
  .client-logo {
    height: 80px;
    display: flex;
    margin: 0 10px;
  }
  
  .clients {
    font-size: 40px;
    font-family: 'Lexend', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 600;
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .bottom-half {
    padding: 10px 0;
    background-color: rgb(65 65 65);
  }
  
  .client-list {
    padding: 30px 30px;
    display: flex;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  .client-list::-webkit-scrollbar {
    display: none;
  }
  
  @media only screen and (max-width: 1024px){
    .overlay-title {
      font-size: 50px;
    }
    .mid-half {
      height: auto;
      flex-direction: column;
    }
    .mid-left {
      width: auto;
      text-align: center;
      margin: 80px 40px;
    }
    .message {
      margin: 10px 40px;
    }
    .mid-right {
      width: auto;
      text-align: center;
    }
  }
  
  @media only screen and (max-width: 880px){
    .overlay-title {
      font-size: 25px;
    }

    .wwd-h1 {
      font-size: 20px;
    }

    h2 {
      font-size: 19px;
    }
    .wwd-sub {
      font-size: 14px;
    }

    li {
      line-height: 30px;
    }

    .wwd-container {
      flex-direction: column-reverse;
    }

    .wwd-img {
      width: 100%;
    }

    .wwd-writeup {
      width: 100%;
      margin-top: 50px;
    }

    .process-sub {
      font-size: 14px;
    }

    .sub-sub {
      font-size: 14px;
    }

    .under {
      font-size: 10px;
    }

    .our-processes > h1 {
      font-size: 20px;
    }

    .left-img {
      margin-top: 50px;
    }

    .overlay-writeup {
      font-size: 13px;
      width: auto;
    }
    .overlay-button {
      font-size: 13px;
      margin-top: 10px;
    }
    .overlay-writeup-container {
      color: #fff;
      padding: 0px 60px 0 20px;
      margin-left: 0;
    }

    .writeup-container {
      width: 100%;
    }

    .client-logo {
      height: 60px;
      margin: 20px auto;
    }
    .client-list {
      grid-template-columns: 1fr 1fr;
      margin: 0 auto;
    }
  }
  
  @media only screen and (max-width: 550px){
    .team {
      width: 100%; 
    }
    .welcome {
      padding: 0 20px;
    }
    .overlay-writeup-container {
      top: 30%;
    }
  
    .overlay-title {
      font-size: 17px;
    }
  
    .overlay-writeup {
      font-size: 10px;
    }
  
    .overlay-button {
      font-size: 10px;
      margin-top: 10px;
    }
  
    .mid-left {
      margin: 80px 0;
      padding: 0;
    }
  
    .message {
      font-size: 14px;
    }
  }

  @media only screen and (max-width: 425px){
    .client-list {
      grid-template-columns: 1fr;
      margin: 0 auto;
    }
    .client-logo {
      width: 50%;
      margin: 30px auto;
    }
  }
  
  @media only screen and (max-width: 319px){
    .App{
      position: fixed;
    }
  }