.works-container {
    margin: 0 auto;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.player-cont {
    margin: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.write {
    width: 70%; 
    margin: 10px 0;   
}

.vimeo {
    width:100%;
    height:360px;
}

.work-title {
    color: #ffffff;
    text-decoration: none;
}

.desc {
    color: #ffffff;
    font-family: 'Lexend';
}

@media screen and (max-width: 800px){
    .player-cont {
        margin: 20px 10px;
    }

    .write {
        width: 100%;
        font-size: 14px;
    }
}

@media screen and (max-width: 500px){
    .write {
        width: 100%;
        font-size: 10px;
    }
}