.nav-container {
    padding: 30px 0;
    background-color: #000;
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    margin-left: 50px;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Lexend', sans-serif;
}

.logo-img {
    height: 45px;
}

.nav-links {
    margin-right: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    color: white;
    margin: 10px 20px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Lexend';
    transition: 0.4s;
}

.nav-link:hover {
    text-decoration: line-through;
    transition: 0.4s;
}


@media only screen and (max-width: 768px){
    .nav-container {
        flex-direction: column;
    }

    .nav-logo {
        margin-left: 0;
    }

    .nav-links {
        margin-right: 0;
    }
}